﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.slim.min.js"></script>

    <title>@ViewBag.Title – Tasty Lary</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="primaryColor">
    <div class="navbar navbar-inverse navbar-fixed-top darkColor">
        <div class="container">
            <div class="navbar-header" style="margin-right:30px">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="titleFont brand" href="@Url.Action("Index", "Home")">
                    <img src="~/Content/Logo.png" height="50" width="50" style="vertical-align:top" alt="" />
                    Tasty Lary
                </a>
            </div>
            <div class="navbar-collapse collapse">
                @if (CandyStoreWeb.Models.User.CurrentUser != null)
                {
                    <ul class="nav navbar-nav">
                        <li class="dropdown primaryFont">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pastries</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li class="dropdown-item" style="font-size:25px">@Html.ActionLink("In the store", "InTheStore", "Pastries")</li>
                                <li class="dropdown-item" style="font-size:25px">@Html.ActionLink("In the stock", "InTheStock", "Pastries")</li>
                            </ul>
                        </li>
                        <li class="primaryFont">@Html.ActionLink("Orders", "Index", "Orders")</li>
                        <li class="primaryFont">@Html.ActionLink("Discounts", "Index", "Discounts")</li>
                        <li class="primaryFont">@Html.ActionLink("Customers", "Index", "Customers")</li>
                    </ul>
                }
                <ul class="nav navbar-nav navbar-right">
                    @if (CandyStoreWeb.Models.User.CurrentUser == null)
                    {
                        <li class="primaryFont">@Html.ActionLink("Sign In", "SignIn", "Home")</li>
                    }
                    else
                    {
                        <li class="dropdown primaryFont">
                            <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@CandyStoreWeb.Models.User.CurrentUser.Name</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li class="dropdown-item" style="font-size:25px">@Html.ActionLink("Sign Out", "SignOut", "Home")</li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year – Candy Store Manager</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
