﻿<div class="col-xs-4 col-md-3">
	<div class="thumbnail text-center">
		<img src="~/Content/pastry.png" width="100" height="100" alt="...">
		<div class="caption">
			<h2>@ViewBag.Model.PastryType.Name</h2>
			<p>Quantity: @ViewBag.Model.Quantity</p>
			<p>Shelf life: @ViewBag.Model.ShelfLife day(s)</p>
			<p>Price: @ViewBag.Model.Price rub</p>
			<div class="input-group">
				<span class="input-group-btn">
					<button id="@ViewBag.Model.PastryType.Name" type="button" class="btn btn-default btn-number" data-type="minus" data-field="@ViewBag.Model.PastryType.ID">
						<span class="glyphicon glyphicon-minus"></span>
					</button>
				</span>
				<input type="text" name="[@ViewBag.Number].Quantity" id="@ViewBag.Model.PastryType.ID" class="form-control input-number" value="1" min="1" max="@ViewBag.Model.Quantity">
				<span class="input-group-btn">
					<button id="@ViewBag.Model.PastryType.Name" type="button" class="btn btn-default btn-number" data-type="plus" data-field="@ViewBag.Model.PastryType.ID">
						<span class="glyphicon glyphicon-plus"></span>
					</button>
				</span>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
    $('#@ViewBag.Model.PastryType.Name').click(function (e) {
        e.preventDefault();

        fieldName = $(this).attr('data-field');
        type = $(this).attr('data-type');
        var input = $("input[id='" +  @ViewBag.Model.PastryType.ID + "']");
        var currentVal = parseInt(input.val());
        if (!isNaN(currentVal)) {
            if (type == 'minus') {

                if (currentVal > input.attr('min')) {
                    input.val(currentVal - 1).change();
                }
            } else if (type == 'plus') {

                if (currentVal < input.attr('max')) {
                    input.val(currentVal + 1).change();
                }
            }
        } else {
            input.val(0);
        }
    });
    $('.input-number').focusin(function () {
        $(this).data('oldValue', $(this).val());
    });
    $('.input-number').change(function () {

        minValue = parseInt($(this).attr('min'));
        maxValue = parseInt($(this).attr('max'));
        valueCurrent = parseInt($(this).val());

        name = $(this).attr('name');
        if (valueCurrent < minValue) {
            alert('Sorry, the minimum value was reached');
            $(this).val($(this).data('oldValue'));
        }
        else if (valueCurrent > maxValue) {
            alert('Sorry, the maximum value was reached');
            $(this).val($(this).data('oldValue'));
        }


    });
    $(".input-number").keydown(function (e) {
        // Allow: backspace, delete, tab, escape, enter and .
        if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 190]) !== -1 ||
            // Allow: Ctrl+A
            (e.keyCode == 65 && e.ctrlKey === true) ||
            // Allow: home, end, left, right
            (e.keyCode >= 35 && e.keyCode <= 39)) {
            // let it happen, don't do anything
            return;
        }
        // Ensure that it is a number and stop the keypress
        if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
            e.preventDefault();
        }
    });
</script>
