﻿
@{
    ViewBag.Title = "Sign In";
}

@using (Html.BeginForm("SignIn", "Home", FormMethod.Post))
{
    <div class="row">
        <div class="loginForm col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4">
            <h2 class="text-center titleFont col-xs-12">Tasty Lary</h2>
            <input type="text" name="login" class="form-control text-center" style="margin:10px auto;" placeholder="Login" required autofocus>
            <input type="password" name="password" class="form-control text-center" style="margin:10px auto;" placeholder="Password" required>
            <button class="btn primaryColor primaryFont loginBtn col-xs-6 col-xs-offset-3 col-md-4 col-md-offset-4" type="submit">Sign in</button>
        </div>
    </div>
    if (CandyStoreWeb.Models.User.CurrentUser == null)
    {
        <div class="row">
            <div class="alert alert-danger col-md-4 col-md-offset-4 col-xs-6 col-xs-offset-3 text-center" role="alert">
                Invalid username or password
            </div>
        </div>
    }
}

