﻿@model List<DAL.Pastry>

@{
	ViewBag.Title = "Make order";
}

<h2>Make an order</h2>

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="form-horizontal">
		<h4>Order</h4>
		<hr />

		@for (int i = 0; i < Model.Count; i++)
		{
			@Html.Partial("PastryPanel", new ViewDataDictionary { { "Model", Model[i] }, { "Number", i } })
			@Html.HiddenFor(m => m[i].ID)
			@Html.HiddenFor(m => m[i].ManufactureDate)
			@Html.HiddenFor(m => m[i].OrderLines)
			@Html.HiddenFor(m => m[i].PastryType)
			@Html.HiddenFor(m => m[i].PastryType_ID)
			@Html.HiddenFor(m => m[i].Price)
			@Html.HiddenFor(m => m[i].PurchaseLines)
			@Html.HiddenFor(m => m[i].Stock)
			@Html.HiddenFor(m => m[i].ShelfLife)
			@Html.HiddenFor(m => m[i].Stock_ID)
		}

		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" value="Make an order" class="btn btn-default" />
			</div>
		</div>
	</div>
}

<div>
	@Html.ActionLink("Back to List", "Index")
</div>
