﻿@model IEnumerable<DAL.Pastry>

@{
    ViewBag.Title = "InTheStock";
}

<h2>Pastries in the stock</h2>

@if (CandyStoreWeb.Models.User.CurrentUser.Role == "Admin")
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PastryType.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShelfLife)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ManufactureDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Discount.DiscountPercent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock.Address)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PastryType.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShelfLife)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ManufactureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount.DiscountPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock.Address)
            </td>
            @if (CandyStoreWeb.Models.User.CurrentUser.Role == "Admin")
            {
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            }
        </tr>
    }

</table>
