﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

@font-face {
    font-family: 'BitterSweet';
    src: url('../fonts/BittersweetNF.ttf');
}

@font-face {
    font-family: "BreakFast";
    src: url('../fonts/breakfast.otf');
}

.primaryFont {
    font-family: BitterSweet;
    font-size: 35px;
}

.titleFont {
    font-family: BreakFast;
    font-size: 35px;
}

.primaryColor {
    background-color: #E6E6FA;
}

.secondaryColorDark {
    background-color: #000062;
}

.darkColor {
    background-color: #4A148C;
}

.jumbotronWelcome {
    background-image: url("../Content/WelcomeImage1.jpg");
    height: 700px;
    background-position: center;
    color: black;
    font-family: BitterSweet;
    background-size: cover;
}

hr {
    border-top: 1px solid #000062;
}

.loginForm {
    margin-top: 10%;
    margin-bottom: 2%;
    border: 2px solid #000062;
    background-color: #4A148C;
    border-radius: 20px;
    color: white;
}

.loginBtn {
    font-size: 30px !important;
    margin-bottom: 10px;
    margin-top: 10px;
    color: black;
}

.navbar-inverse .navbar-nav > .open > a {
    background-color: #000062 !important;
}

.brand {
    color: wheat !important;
    text-decoration: unset !important;
}

.checked {
    background-color: #000062;
}